.info_container {
    width: 100%;
    display: flex;
}

.detected_img_container {
    flex: 1;
    margin-left: 25px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detected_img {
    height: 500px;
    border-radius: 20px;
    border: 2px solid #7EA46F;
    overflow: hidden;
}

.detected_instruction {
    flex: 1;
    width: 50%;
    height: 500px;
    padding: 35px 40px;
    background: #7EA46F33;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}