.login_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login_form_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}