.back_button {
    width: 50px;
    height: 50px;
    border: 1.5px solid #7EA46F;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back_button:hover {
    background: #7EA46F33;
}