.header {
    width: 100%;
    background: #7EA46F;
    text-transform: uppercase;
    color: #FDFDF1;
    font-size: 24px;
}

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}