@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: #7EA46F;
  background-color: #FDFDF1;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 30px 120px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

button {
  font-size: 16px;
  font-weight: 600;
  font-family: "Alexandria", sans-serif;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
