.file_input {
    position: relative;
    width: 80%;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 2px dashed #7EA46F;
    border-radius: 30px;
    padding: 100px;
}

.file_input label {
  display: block;
  padding: 10px 62px;
  border-radius: 100px;
  border: 1.5px solid #7EA46F;
  margin-bottom: 10px;
  cursor: pointer;
}

.file_input label:hover {
  background: #7EA46F33;
}

.selected_file {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 40px 10px 30px;
  min-width: 200px;
  border-radius: 30px;
  margin-bottom: 30px;
  background: #7EA46F33;
}

.selected_file p {
  overflow: hidden;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selected_file svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
}